<!DOCTYPE html>
<html ng-app="taxRules">
  <head>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap.min.css" />
    <script type="text/javascript" src="libs/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="TaxController as tax">
    <header>
      <h1 class="text-center">Tax Rule DSL</h1>
    </header>

    <section class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="list-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>RuleID</th>
                    <th>Min Value</th>
                    <th>Max Value</th>
                    <th>Base tax</th>
                    <th>Plus cents</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="rule in tax.rules">
                    <td>{{ rule.ruleId }}</td>
                    <td>{{ rule.minValue }}</td>
                    <td>{{ rule.maxValue }}</td>
                    <td ng-model="tax.getBaseValue(1)"></td>
                    <td>{{ rule.valuePerDollarOver }}</td>
                  </tr>            
                </tbody>
              </table>
          </div>
          
        </div>
      </div>
    </section>


  </body>
</html>