<!DOCTYPE html>
<html ng-app="TaxRules">
  <head>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>

    <header class="jumbotron">
      <div class="container text-center">
        <h1 class="">Tax Rule DSL</h1>
        <p>Tax Calculator DSL tool. Allows the user to define tax brackets and calculate their income tax.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Start</a></p>
      </div>
    </header>

    <section class="container">

      <div class="row">

        <h2 class="text-center">Enter your tax rules:</h1>
        <div class="col-sm-10 col-sm-offset-1">
          <div class="list-group">
              <table class="table">
                <thead>
                  <tr>
                    <th>Min Value</th>
                    <th>Max Value</th>
                    <th>Base tax</th>
                    <th>Plus cents</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody ng-controller="TaxController">
                  <tr ng-repeat="rule in rules">
                    <td>{{ rule.minValue | currency:$:0 }}</td>
                    <td>{{ rule.maxValue | currency:$:0 }}</td>
                    <td>$50</td>
                    <td>{{ rule.valuePerDollarOver }}</td>
                    <td><input type="submit" class="btn btn-secondary" value="Edit" disabled="disabled"></td>
                  </tr>            
                </tbody>
                <tfoot>
                  <form name="ruleForm" ng-submit="ruleForm.$valid && addRule()" novalidate>
                    <tr>
                      <td class="td-input">
                        <input type="text" class="form-control" ng-model="minValue" required/>
                      </td>
                      <td class="td-input">
                        <input type="text" class="form-control" ng-model="maxValue" required/>
                      </td>
                      <td>$0</td>
                      <td class="td-input">
                        <input type="text" class="form-control" ng-model="valuePerDollarOver" required>
                      </td>
                      <td>
                        <input type="submit" class="btn btn-primary" value="Add">
                      </td>
                    </tr>            
                  </form>
                </tfoot>
              </table>
          </div>
          
        </div>
      </div>
    </section>

    <!-- Enter Your Income -->
    <section class="container">
      <br/>
      <br/>
      <form class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
          <h2 class="text-center">Enter Income:</h2>
          <input type="text" class="form-control form-control--lg" placeholder="eg. $50,000" />
        </div>

        <div class="col-xs-12 col-sm-4">
          <h2 class="text-center">Tax Amount:</h1>
            <p class="alert alert-info">$0</p>
          </div>
      </form>

    </section>

  </body>

  <!-- Vendor -->
  <script type="text/javascript" src="libs/angular.min.js"></script>
  <script type="text/javascript" src="libs/angular-mocks.js"></script>

  <!-- Modules -->
  <script type="text/javascript" src="js/app.js"></script>
  
  <!-- Controllers -->
  <script type="text/javascript" src="js/controllers/TaxController.js"></script>
  
  <!-- Services -->
  <script type="text/javascript" src="js/services/rules.js"></script>
</html>